<h1>Page#Admin</h1>
<p>Find me in app/views/page/Admin.html.erb</p>


<% if !@submitted || @form_error %>
  <b><%= @error_msg %></b>
  <%= form_for admin_path, :method => "POST" do %>
    <%= label_tag :name, "Enter Name: " %>
    <%= text_field_tag :name, @name, :autofocus => "autofocus", :required => true  %><br/>
    <%= label_tag :email, "Enter Emailaddress: " %>
    <%= email_field_tag :email, @email, :placeholder => "something@domain.com" %><br/>
    <%= submit_tag "Submit" %>
  <% end %>

<% else %>

  <%= @name %> <br/>
  <%= @email %>

  <pre>
    <% params.each do |key, value| %>
      <%= key + " ==> " + value.to_s %>
    <% end %>>
  </pre>

  THANKS!

<% end %>

